* {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(245, 219, 236);
    padding: 70px; 
}

.envelope {
    max-width: 924px;
    max-height: 524px;
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 8px solid rgb(89, 89, 89);
    border-radius: 24px;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.btn {
    cursor: pointer;
    max-width: 146px;
    max-height: 62px;
    display: inline-block;
    border-radius: 8px;
    background: rgb(8, 151, 170);
    padding: 12px 32px;
    color: #fff;
}

.btn:hover{
    background: #078799;
}

/*Envelope front*/


.front-envelope-text--block { 
    max-width: 772px;
    max-height: 170px;
    padding: 8px;
    margin-bottom: 80px;
    font-size: 64px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0%;
    color: rgb(233, 159, 172); 
}




/*Envelope back*/

.back-envelope {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.back-envelope-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.back-envelope-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
   
}

.back-envelope-button--block{
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
